.playPage {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background: var(--more-dark-color);
  min-height: 100vh;
  padding: 1.5rem;
  margin-bottom: 0;

  .album-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    gap: 2rem;
    overflow: hidden;
    padding: 1rem;

    .album-thumb-holder {
      max-width: 280px;
      max-height: 280px;
      margin: 0 auto;
      border-radius: 0.5rem;
      overflow: hidden;

      #album-thumb {
        width: 100%;
        height: 100%;
      }
    }

    .album-info {
      display: flex;
      min-height: 280px;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      gap: 0.5rem;
      text-transform: uppercase;

      #album-type {
        color: var(--hover-color);
      }

      #album-name {
        font-size: 3rem;
        font-weight: bold;
      }

      #album-artist {
        text-transform: capitalize;
      }

      .album-songs {
        color: var(--shadow-color);
        font-size: 0.9rem;
        padding: 1rem 0;
      }

      .album-controls {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
        flex-wrap: no-wrap;
        transition: 1s;

        &.show {
          flex-wrap: wrap;
        }

        .album-progress {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 0.5rem;
          border-radius: 2rem;
          background: var(--less-bright-color);
          padding-right: 1rem;

          .progress-bar {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;
            width: 0;
            overflow: hidden;
            transition: 0.4s;

            .volume-holder {
              position: relative;

              #volume {
                padding: 0.3rem;
                background: transparent;
              }

              &:hover {
                #volume {
                  background: var(--shadow-color);
                }

                #volume-controll {
                  opacity: 1;
                  pointer-events: all;
                }
              }

              #volume-controll {
                position: absolute;
                transform: rotate(-90deg);
                width: 5rem;
                height: 1rem;
                appearance: none;
                outline: none;
                top: -2.85rem;
                left: -1.4rem;
                z-index: 10;
                background: var(--shadow-color);
                opacity: 0;
                pointer-events: none;
                transition: 0.1s;
                border-radius: 0 1rem 1rem 0;
                overflow: hidden;
                cursor: pointer;

                &::-webkit-slider-thumb {
                  appearance: none;
                  width: 0.5rem;
                  height: 1rem;
                  background: var(--grey-color);
                  outline: none;
                  cursor: pointer;
                }

                &::-moz-range-thumb {
                  appearance: none;
                  width: 0.5rem;
                  height: 1rem;
                  background: var(--grey-color);
                  outline: none;
                  cursor: pointer;
                  border: none;
                  border-radius: 0;
                }

                &::-moz-range-progress {
                  background: var(--shadow-color);
                  height: 1rem;
                }
              }
            }

            &.show {
              width: 16rem;
              overflow: visible;
            }

            #range-el {
              width: 10rem;
              height: 0.2rem;
              appearance: none;
              outline: none;
              background: var(--shadow-color);
              border-radius: 0.3rem;
              cursor: pointer;

              &::-webkit-slider-thumb {
                appearance: none;
                width: 1rem;
                height: 1rem;
                background: var(--hover-color);
                border-radius: 50%;
                outline: none;
                cursor: pointer;
                border: none;
              }

              &::-moz-range-thumb {
                appearance: none;
                width: 1rem;
                height: 1rem;
                background: var(--hover-color);
                border-radius: 50%;
                outline: none;
                cursor: pointer;
                border: none;
              }

              &::-moz-range-progress {
                height: 0.2rem;
                background: var(--hover-color);
              }
            }
          }

          .album-play {
            border-radius: 2rem;
            background: transparent;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            transition: 0.2s;

            #play-pause {
              &.active {
                color: var(--hover-color);
              }
            }

            .material-icons {
              &:hover {
                background: transparent;
              }
            }
          }

          &:hover {
            background: var(--more-bright-color);
          }
        }

        .material-icons {
          &.active {
            color: var(--hover-color);
          }

          &:hover {
            background: var(--more-bright-color);
          }
        }
      }
    }
  }

  .songs {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    .song {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid var(--grey-color);
      transition: 0.2s;
      padding: 1rem;
      position: relative;

      &.active {
        color: var(--hover-color);
      }

      .song-thumb-holder {
        width: 50px;
        height: 50px;
        border-radius: 0.2rem;
        overflow: hidden;

        .song-thumb {
          width: 100%;
          height: 100%;
        }
      }

      .song-play {
        position: absolute;
        left: 4.65rem;
        top: 1.7rem;
        background: var(--less-dark-color);
        padding: 0.1rem;
        display: none;
      }

      &:hover {
        background: var(--less-bright-color);

        .song-play {
          display: flex;

          &:hover {
            background: var(--more-dark-color);
          }

          &:active {
            transform: scale(1.1);
          }
        }
      }

      .left-items {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 60vw;
        gap: 1rem;
        text-transform: capitalize;

        .song-index {
          width: 2rem;
        }

        .song-name {
          width: 130px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          word-break: break-all;
        }
      }

      .right-items {
        display: flex;
        justify-content: space-between;
        width: 40vw;
        align-items: center;

        .song-controls {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 0.5rem;

          .material-icons {
            padding: 0;

            &:hover {
              color: var(--hover-color);
            }
          }
        }
      }
    }
  }
}
