@charset "UTF-8";
.main {
  width: 100%;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1rem;
}

.main .error-handling {
  width: 100%;
  padding: 1rem;
  outline: 1px solid var(--error-color);
  border: 3px solid #ff95a922;
  border-radius: 0.2rem;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0.5rem;
}

.main .error-handling.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .error-handling p {
  color: red;
  font-weight: bold;
}

.main .error-handling .errors {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0.3rem;
}

.main #forget-pass {
  margin-left: auto;
}

.main .form-el {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1rem;
}

.main .form-el .form-inputs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid var(--grey-color);
  border-radius: 0.2rem 0.2rem 0 0;
}

.main .form-el .form-inputs .form-input {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.main .form-el .form-inputs .form-input:nth-child(1) {
  border-bottom: 1px solid var(--shadow-color);
}

.main .form-el .form-inputs .form-input:nth-child(1) input {
  border-radius: 0.2rem 0.2rem 0 0;
}

.main .form-el .form-inputs .form-input input {
  width: 100%;
  padding: 1rem;
  outline: none;
}

.main .form-el .form-inputs .form-input input.error {
  outline: 1px solid var(--error-color);
  border: 4px solid #ff95a955;
}

.main .form-el .form-inputs .form-input input:focus {
  width: 100%;
  padding: 1rem;
  border: 1px solid var(--focus-color);
  -webkit-box-shadow: 0 0 5px 2px var(--focus-color);
          box-shadow: 0 0 5px 2px var(--focus-color);
  z-index: 2;
}

.main .form-el .form-inputs .form-input input.active {
  padding-bottom: 3rem;
}

.main .form-el .form-inputs .form-input .showing-pass {
  width: 100%;
  padding: 1rem;
  padding-top: 0;
  text-align: left;
  font-size: 0.8rem;
  position: absolute;
  top: 3rem;
  left: 0;
  z-index: 3;
  display: none;
}

.main .form-el .form-inputs .form-input .showing-pass.active {
  display: block;
}

.main .form-el .form-checks {
  width: 100%;
  position: relative;
  padding: 1rem;
}

.main .form-el .form-checks input {
  opacity: 0;
  position: absolute;
  left: 3rem;
}

.main .form-el .form-checks input:checked ~ label::before {
  content: "✔";
  color: var(--focus-color);
  font-size: 1rem;
}

.main .form-el .form-checks label {
  width: 100%;
  position: absolute;
  padding-left: 1.5rem;
  cursor: pointer;
}

.main .form-el .form-checks label::before {
  content: "";
  width: 20px;
  height: 20px;
  border: 1px solid var(--grey-color);
  border-radius: 2px;
  position: absolute;
  left: -0.7rem;
  top: -2px;
}

.main .form-el .form-checks label:hover::before {
  -webkit-box-shadow: 0 0 3px 2px var(--focus-color);
          box-shadow: 0 0 3px 2px var(--focus-color);
  border: 1px solid var(--focus-color);
}

.main .form-el button {
  width: 100%;
  text-align: center;
  padding: 1rem;
  font-widht: bold;
  background: var(--btn-color);
  border-radius: 0.2rem;
  font-size: 1rem;
  margin-top: 1rem;
  cursor: pointer;
  border: 1px solid var(--grey-color);
}

.main .form-el button:hover {
  border: 1px solid var(--focus-color);
  -webkit-box-shadow: 0 0 5px 2px var(--focus-color);
          box-shadow: 0 0 5px 2px var(--focus-color);
}

.main .form-el button:active {
  background: var(--hover-color);
}

.main .sign-up {
  width: 100%;
  border-top: 1px solid var(--shadow-color);
}

.main .sign-up .sign-up-text {
  text-align: center;
  padding: 1rem;
  font-size: 0.8rem;
}

.main .sign-up a {
  width: 100%;
  text-align: center;
  padding: 1rem;
  font-widht: bold;
  background: var(--less-bright-color);
  color: var(--dark-color);
  border-radius: 0.2rem;
  font-size: 1rem;
  display: block;
  margin-bottom: 2rem;
  cursor: pointer;
  border: 1px solid var(--grey-color);
}

.main .sign-up a:hover {
  border: 1px solid var(--focus-color);
  -webkit-box-shadow: 0 0 5px 2px var(--focus-color);
          box-shadow: 0 0 5px 2px var(--focus-color);
}

.main .sign-up a:active {
  background: var(--more-bright-color);
}

.main .form-el .sign-up {
  gap: 1rem;
  border: none;
}

.main .form-el .sign-up .form-input {
  border: 1px solid var(--grey-color);
  border-radius: 0.2rem;
}

.main .form-el .sign-up .form-input input {
  border-radius: 0.2rem;
}

.main .form-el .sign-up .form-input:nth-child(1) {
  border-bottom: 1px solid var(--grey-color);
}

.main .form-el .sign-up .form-input:nth-child(1) input {
  border-radius: 0.2rem;
}

.main .form-el .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}

.main .form-el .info span {
  color: #0af;
}

.main {
  min-height: 75vh;
}

.main .form-el .forget-pass {
  border: none;
}

.main .form-el .forget-pass .form-input {
  border: 1px solid var(--grey-color);
  border-radius: 0.2rem;
}

.main .form-el .forget-pass .form-input input {
  border-radius: 0.2rem;
}

.main .form-el .forget-pass .form-input:nth-child(1) {
  border-bottom: 1px solid var(--grey-color);
}

.main .form-el .forget-pass .form-input:nth-child(1) input {
  border-radius: 0.2rem;
}

.main .form-el .continue {
  margin-top: 0;
}

.main .form-el .forget-note {
  margin-bottom: 3rem;
}

.main .form-el .forget-note a {
  text-decoration: underline;
}

@media screen and (min-width: 576px) {
  .main {
    width: 70%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .main {
    width: 70%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 900px) {
  .main {
    width: 55%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .main {
    width: 40%;
    margin: 0 auto;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
}

html {
  -webkit-tap-highlight-color: transparent;
}

body {
  --dark-color: #000;
  --less-dark-color: rgba(0, 0, 0, 0.7);
  --more-dark-color: rgba(0, 0, 0, 0.85);
  --grey-color: #444;
  --bright-color: #fff;
  --less-bright-color: #eeeeee44;
  --more-bright-color: #eee;
  --shadow-color: #bebebe;
  --hover-color: #ffc700;
  --focus-color: #ff5e00;
  --btn-color: linear-gradient(to bottom, #ffe740, #ffc700);
  --error-color: #ff2a4a;
  --correct-color: #ff5f2a;
  --anchor-color: #0072c2;
  font-family: "Roboto", sans-serif;
  width: 100%;
  min-height: 100vh;
  background: var(--less-bright-color);
  color: var(--dark-color);
}

a {
  text-decoration: none;
  color: var(--anchor-color);
}

ul,
li {
  list-style: none;
}

.nav {
  width: 100%;
  text-align: center;
  font-size: 3rem;
  padding: 0.5rem;
  font-weight: bold;
  font-family: "oswald", "Roboto", sans-serif;
  border-bottom: 1px solid var(--shadow-color);
  background: var(--more-bright-color);
}

.footer {
  width: 100%;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  border-top: 2px solid transparent;
  -o-border-image: linear-gradient(to right, #fff, #ddd, #fff);
     border-image: -webkit-gradient(linear, left top, right top, from(#fff), color-stop(#ddd), to(#fff));
     border-image: linear-gradient(to right, #fff, #ddd, #fff);
  border-image-slice: 1;
}

.footer .footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.footer .copyright {
  font-size: 0.8rem;
  color: var(--grey-color);
}
