.nav {
  padding: 1rem;
  position: fixed;
  width: 100%;
  background: var(--dark-color);
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  border-bottom: 1px solid var(--grey-color);
  z-index: 99;
}

.nav .material-icons {
  font-size: 2rem;
}

.nav .left-nav {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  position: relative;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}

.nav .left-nav #configuration:hover {
  color: var(--hover-color);
}

.nav .left-nav #configuration:active {
  border: 1px solid var(--bright-color);
}

.nav .left-nav .setting {
  position: absolute;
  top: 2.8rem;
  left: 80%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid var(--grey-color);
  border-radius: 0.5rem;
  background: var(--dark-color);
}

.nav .left-nav .setting.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav .left-nav .setting .material-icons {
  -webkit-transition: 0.1s;
  transition: 0.1s;
  color: var(--shadow-color);
  font-size: 1.5rem;
}

.nav .left-nav .setting #night.active {
  color: var(--hover-color);
}

.nav .left-nav .setting #halloween.active {
  color: var(--halloween-color);
}

.nav .left-nav .setting #day.active {
  color: var(--sun-color);
}

.nav .right-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .right-nav .nav-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.2rem;
}

.nav .right-nav .nav-options .nav-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.nav .right-nav .nav-options .nav-option.active {
  color: var(--active-color);
}

.nav .right-nav .nav-options .nav-option:hover {
  color: var(--hover-color);
}

.nav .right-nav .nav-options .nav-option:active .material-icons {
  border: 1px solid var(--bright-color);
}

.nav .right-nav .nav-options .nav-option:active .library-icon {
  border: none;
}

.nav .right-nav .nav-options .nav-option .nav-text {
  display: none;
  text-transform: uppercase;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Oswald", sans-serif;
  padding-right: 0.5rem;
}

.nav .right-nav .nav-options .nav-option .nav-text .library-name {
  padding: 0.5rem 0;
}

.nav .right-nav .nav-options .nav-option .nav-text .library-icon {
  padding-bottom: 0.5rem;
}

.nav .right-nav .nav-options #library-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  cursor: pointer;
}

.nav .right-nav .nav-options #library-nav #library-menu {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: absolute;
  top: 3.5rem;
  left: 0;
  background: var(--dark-color);
  z-index: 21;
  border: 1px solid var(--grey-color);
  border-radius: 0.5rem;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  -webkit-box-shadow: 2px 2px 5px var(--dark-color);
          box-shadow: 2px 2px 5px var(--dark-color);
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.nav .right-nav .nav-options #library-nav #library-menu.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav .right-nav .nav-options #library-nav #library-menu a {
  width: 15rem;
  padding: 1rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.nav .right-nav .nav-options #library-nav #library-menu a:hover {
  color: var(--hover-color);
}

.nav .right-nav .nav-options #library-nav #library-menu a:first-child {
  border-bottom: 1px solid var(--grey-color);
  padding-top: 2rem;
}

.nav .right-nav .nav-options #library-nav #library-menu a:last-child {
  padding-bottom: 2rem;
}

.nav .right-nav .search-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.2rem;
}

.nav .right-nav .search-options.active {
  color: var(--active-color);
}

.nav .right-nav .search-options .search {
  position: relative;
  display: none;
}

.nav .right-nav .search-options .search #search-el {
  padding: 1rem 2rem;
  width: 30rem;
  border-radius: 2rem;
  font-size: 1rem;
  border: none;
  outline: none;
}

.nav .right-nav .search-options .search #search-in {
  position: absolute;
  top: 0.1rem;
  right: 1rem;
  color: var(--shadow-color);
}

.nav .right-nav .search-options #search-out {
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.nav .right-nav .search-options #search-out:active {
  border: 1px solid var(--bright-color);
}

.nav .right-nav .search-options #search-out:hover {
  color: var(--hover-color);
}

.nav .right-nav .search-options .sign-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.7rem 1rem;
  color: var(--dark-color);
  border: none;
  outline: none;
  border-radius: 2rem;
  background: var(--active-color);
  font-weight: bold;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.nav .right-nav .search-options .sign-in:hover {
  background: var(--hover-color);
}

.nav .right-nav .search-options .sign-in:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.nav .right-nav .search-options .sign-in-text {
  display: none;
  font-family: sans-serif;
}

.nav .right-nav .search-options .sign-in-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5rem;
  border-radius: 50%;
  font-size: 1.5rem;
}

.main {
  margin-top: 5rem;
  margin-bottom: 5rem;
  width: 100%;
}

.main .wrapper {
  padding: 1rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .wrapper .category-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  padding-top: 0;
}

.main .wrapper .category-header .category-name {
  text-transform: capitalize;
  font-size: 1.2rem;
  font-family: "Oswald", sans-serif;
}

.main .wrapper .category-header .category-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.1rem;
}

.main .wrapper .category-header .category-controls .material-icons:hover {
  color: var(--grey-color);
}

.main .wrapper .category-header .category-controls .material-icons:active {
  border: 1px solid var(--bright-color);
}

.main .wrapper .category-header .category-controls .see-all {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  font-family: "Oswald", sans-serif;
  background: var(--grey-color);
  color: #fff;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.main .wrapper .category-header .category-controls .see-all:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.main .wrapper .contents-wrapper {
  width: 100%;
  overflow: hidden;
}

.main .wrapper .contents-wrapper.touchable {
  overflow: scroll;
}

.main .wrapper .contents-wrapper .contents {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
  gap: 2rem;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  width: 600%;
}

.main .wrapper .contents-wrapper .contents .content {
  max-width: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  overflow: hidden;
  position: relative;
}

.main .wrapper .contents-wrapper .contents .content .head-content {
  position: relative;
  max-width: 280px;
  border-radius: 0.5rem;
  overflow: hidden;
  cursor: pointer;
}

.main .wrapper .contents-wrapper .contents .content .head-content .content-img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
  border-radius: 0.5rem;
  position: relative;
  max-width: 280px;
  max-height: 280px;
}

.main .wrapper .contents-wrapper .contents .content .head-content .content-img .artist-thumb {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}

.main .wrapper .contents-wrapper .contents .content .head-content:hover::after {
  content: "";
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--less-dark-color);
}

.main .wrapper .contents-wrapper .contents .content .head-content:hover .content-controls {
  opacity: 1;
}

.main .wrapper .contents-wrapper .contents .content .head-content:hover .content-controls .material-icons {
  font-size: 2rem;
}

.main .wrapper .contents-wrapper .contents .content .head-content:hover .content-controls .material-icons:hover {
  background: var(--less-bright-color);
}

.main .wrapper .contents-wrapper .contents .content .head-content:hover .content-controls .material-icons:active {
  color: var(--hover-color);
}

.main .wrapper .contents-wrapper .contents .content .head-content:hover .content-controls .play {
  font-size: 4rem;
}

.main .wrapper .contents-wrapper .contents .content .head-content:hover .content-controls .play:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.main .wrapper .contents-wrapper .contents .content .head-content .content-controls {
  width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
  padding: 0.2rem;
  opacity: 0;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.main .wrapper .contents-wrapper .contents .content .artist-song {
  width: 100%;
  max-width: 280px;
  font-size: 1rem;
  color: var(--bright-color);
  text-align: left;
  text-transform: capitalize;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-top: 0.5rem;
  padding-left: 0.1rem;
}

.main .wrapper .contents-wrapper .contents .content .artist-song:hover {
  color: var(--hover-color);
}

.main .wrapper .contents-wrapper .contents .content .artist-name {
  width: 100%;
  font-size: 0.9rem;
  color: var(--shadow-color);
  text-align: left;
  text-transform: capitalize;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-top: 0.5rem;
  padding-left: 0.1rem;
}

.main .wrapper .contents-wrapper .contents .content .artist-name:hover {
  color: var(--active-color);
  overflow: visible;
  white-space: normal;
  height: auto;
}

.main .wrapper .contents-wrapper .top-songs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: (5rem)[3];
      grid-template-rows: repeat(3, 5rem);
  padding: 0 1rem;
  gap: 1rem;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  width: 500%;
}

.main .wrapper .contents-wrapper .top-songs .content {
  width: 100%;
  min-width: 400px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.main .wrapper .contents-wrapper .top-songs .content .head-content {
  width: 5rem;
  height: 5rem;
}

.main .wrapper .contents-wrapper .top-songs .content .head-content .content-img {
  width: 100%;
  height: 100%;
}

.main .wrapper .contents-wrapper .top-songs .content .head-content .content-img .artist-thumb {
  width: 100%;
  height: 100%;
}

.main .wrapper .contents-wrapper .top-songs .content .head-content .content-controls {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .wrapper .contents-wrapper .top-songs .content .head-content .content-controls .play {
  font-size: 2rem;
}

.main .wrapper .contents-wrapper .top-songs .content .head-content .content-controls .play:hover {
  color: var(--bright-color);
}

.main .wrapper .contents-wrapper .top-songs .content .head-content:hover .content-controls .play {
  font-size: 2rem;
}

.main .wrapper .contents-wrapper .top-songs .content:hover .head-content::after {
  content: "";
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--less-dark-color);
}

.main .wrapper .contents-wrapper .top-songs .content:hover .material-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .wrapper .contents-wrapper .top-songs .content:hover .content-controls {
  opacity: 1;
}

.main .wrapper .contents-wrapper .top-songs .content .content-controls {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
}

.main .wrapper .contents-wrapper .top-songs .content .content-controls .material-icons:hover {
  color: var(--hover-color);
}

.main .wrapper .contents-wrapper .top-songs .content .content-controls .material-icons:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.main .wrapper .contents-wrapper .top-songs .content .artist-feature .artist-song {
  width: auto;
  font-size: 1rem;
  color: var(--bright-color);
  text-align: left;
  text-transform: capitalize;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-top: 0.5rem;
}

.main .wrapper .contents-wrapper .top-songs .content .artist-feature .artist-song:hover {
  color: var(--hover-color);
  overflow: visible;
  white-space: normal;
  height: auto;
}

.main .wrapper .contents-wrapper .top-songs .content .artist-feature .artist-name {
  width: auto;
  font-size: 0.9rem;
  color: var(--shadow-color);
  text-align: left;
  text-transform: capitalize;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-top: 0.5rem;
}

.main .wrapper .contents-wrapper .top-songs .content .artist-feature .artist-name:hover {
  color: var(--active-color);
  overflow: visible;
  white-space: normal;
  height: auto;
}

.more-option {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: absolute;
  background: var(--more-dark-color);
  z-index: 20;
  border: 1px solid var(--grey-color);
  border-radius: 0.5rem;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  -webkit-box-shadow: 2px 2px 5px var(--dark-color);
          box-shadow: 2px 2px 5px var(--dark-color);
}

.more-option.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.more-option a {
  width: 20rem;
  padding: 1rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.more-option a:hover {
  color: var(--hover-color);
}

.more-option a:first-child {
  border-bottom: 1px solid var(--grey-color);
  padding-top: 2rem;
}

.more-option a:nth-child(2) {
  border-bottom: 1px solid var(--grey-color);
}

.more-option a:nth-child(3) {
  border-bottom: 1px solid var(--grey-color);
}

.more-option a:last-child {
  padding-bottom: 2rem;
  text-transform: capitalize;
}

.main-search {
  width: 100%;
  position: fixed;
  top: 0;
  background: var(--grey-color);
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-search.hide {
  display: none;
}

.main-search #main-search-input {
  width: 100%;
  padding: 2rem 1.5rem;
  padding-right: 7rem;
  font-size: 1.2rem;
  background: var(--grey-color);
  color: var(--bright-color);
  border: none;
  outline: none;
}

.main-search #main-search-input::-webkit-input-placeholder {
  color: var(--shadow-color);
}

.main-search #main-search-input:-ms-input-placeholder {
  color: var(--shadow-color);
}

.main-search #main-search-input::-ms-input-placeholder {
  color: var(--shadow-color);
}

.main-search #main-search-input::placeholder {
  color: var(--shadow-color);
}

.main-search #main-search-button {
  position: absolute;
  top: 50%;
  right: 1.2rem;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  font-size: 0.9rem;
  text-transform: uppercase;
  color: var(--bright-color);
  background: transparent;
  border: none;
  font-family: "Oswald", sans-serif;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.main-search #main-search-button:active {
  -webkit-transform: scale(1.05) translate(0, -50%);
          transform: scale(1.05) translate(0, -50%);
  background: red;
}

.main-search #delete-search-text {
  position: absolute;
  top: 50%;
  right: 5rem;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  font-size: 1rem;
  font-weight: bold;
  background: var(--bright-color);
  color: var(--grey-color);
  -webkit-transition: 0.1s;
  transition: 0.1s;
  border: none;
  padding: 0.2rem;
}

.main-search #delete-search-text:hover {
  background: var(--hover-color);
}

.main-search #delete-search-text:active {
  -webkit-transform: scale(1.1) translate(0, -50%);
          transform: scale(1.1) translate(0, -50%);
}

.amazon-search-page .wrapper h3 {
  width: 100%;
  text-align: left;
  padding: 1rem;
  font-family: "oswald", serif;
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.amazon-search-page .wrapper .station-types {
  width: 100%;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
}

.amazon-search-page .wrapper .station-types a {
  background: var(--grey-color);
  color: #fff;
  padding: 1rem;
  border-radius: 2rem;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.amazon-search-page .wrapper .station-types a:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.amazon-search-page .wrapper .station-types a:active {
  color: var(--hover-color);
}

.amazon-search-page .wrapper .music-types {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 1rem;
  margin-top: 2rem;
}

.amazon-search-page .wrapper .music-types a {
  height: 5rem;
  padding: 1rem 1.7rem;
  background: -webkit-gradient(linear, left top, left bottom, from(orangered), to(orange));
  background: linear-gradient(to bottom, orangered, orange);
  color: #fff;
  border-radius: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.amazon-search-page .wrapper .music-types a:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.amazon-search-page .wrapper .music-types a:active {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.amazon-search-page .wrapper .music-types a:nth-child(1) {
  background: linear-gradient(45deg, #0026d5, #009702);
}

.amazon-search-page .wrapper .music-types a:nth-child(2) {
  background: -webkit-gradient(linear, left top, left bottom, from(#ff0034), to(#ff00f1));
  background: linear-gradient(to bottom, #ff0034, #ff00f1);
}

.amazon-search-page .wrapper .music-types a:nth-child(3) {
  background: -webkit-gradient(linear, left top, left bottom, from(#e08a00), to(#a56637));
  background: linear-gradient(to bottom, #e08a00, #a56637);
}

.amazon-search-page .wrapper .music-types a:nth-child(4) {
  background: -webkit-gradient(linear, left top, left bottom, from(#b8b88a), to(#585842));
  background: linear-gradient(to bottom, #b8b88a, #585842);
}

.amazon-search-page .wrapper .music-types a:nth-child(5) {
  background: -webkit-gradient(linear, left top, right top, from(#9a408b), color-stop(#9a0006), color-stop(#e6b426), to(#00808b));
  background: linear-gradient(to right, #9a408b, #9a0006, #e6b426, #00808b);
}

.amazon-search-page .wrapper .music-types a:nth-child(6) {
  background: -webkit-gradient(linear, left top, left bottom, from(#e45526), to(#712a13));
  background: linear-gradient(to bottom, #e45526, #712a13);
}

.amazon-search-page .wrapper .music-types a:nth-child(7) {
  background: -webkit-gradient(linear, left top, left bottom, from(#8f00ff), to(#34005d));
  background: linear-gradient(to bottom, #8f00ff, #34005d);
}

.amazon-search-page .wrapper .music-types a:nth-child(8) {
  background: -webkit-gradient(linear, left top, left bottom, from(#4e8035), color-stop(#1077bc), to(#93318b));
  background: linear-gradient(to bottom, #4e8035, #1077bc, #93318b);
}

.amazon-search-page .wrapper .music-types a:nth-child(9) {
  background: -webkit-gradient(linear, left top, left bottom, from(#8e474d), to(#4e272a));
  background: linear-gradient(to bottom, #8e474d, #4e272a);
}

.amazon-search-page .wrapper .music-types a:nth-child(10) {
  background: -webkit-gradient(linear, left top, left bottom, from(#00666f), to(#00e4f8));
  background: linear-gradient(to bottom, #00666f, #00e4f8);
}

.amazon-search-page .wrapper .music-types a:nth-child(11) {
  background: -webkit-gradient(linear, left top, left bottom, from(#1d3846), to(#4e96bc));
  background: linear-gradient(to bottom, #1d3846, #4e96bc);
}

.amazon-search-page .wrapper .music-types a:nth-child(12) {
  background: -webkit-gradient(linear, left top, left bottom, from(#171554), to(#f1b33c));
  background: linear-gradient(to bottom, #171554, #f1b33c);
}

.amazon-search-page .wrapper .music-types a:nth-child(13) {
  background: -webkit-gradient(linear, left top, right top, from(#b095ff), to(#ff80dd));
  background: linear-gradient(to right, #b095ff, #ff80dd);
}

.amazon-search-page .wrapper .music-types a:nth-child(14) {
  background: -webkit-gradient(linear, left top, left bottom, from(#b5aaff), color-stop(#d56b96), to(#c48a62));
  background: linear-gradient(to bottom, #b5aaff, #d56b96, #c48a62);
}

.amazon-search-page .suggestion-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.amazon-search-page .suggestion-wrapper h2 {
  margin: 2.5rem 0;
}

.amazon-search-page .suggestion-wrapper #suggestion-list {
  width: 100%;
}

.amazon-search-page .suggestion-wrapper #suggestion-list .suggestion-item {
  list-style: none;
  width: 100%;
  padding: 0.6rem 0;
  border-bottom: 1px solid var(--grey-color);
}

.amazon-search-page .suggestion-wrapper #suggestion-list .suggestion-item:hover {
  background: var(--grey-color);
}

.playPage {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background: var(--more-dark-color);
  min-height: 100vh;
  padding: 1.5rem;
  margin-bottom: 0;
}

.playPage .album-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  gap: 2rem;
  overflow: hidden;
  padding: 1rem;
}

.playPage .album-details .album-thumb-holder {
  max-width: 280px;
  max-height: 280px;
  margin: 0 auto;
  border-radius: 0.5rem;
  overflow: hidden;
}

.playPage .album-details .album-thumb-holder #album-thumb {
  width: 100%;
  height: 100%;
}

.playPage .album-details .album-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 280px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0.5rem;
  text-transform: uppercase;
}

.playPage .album-details .album-info #album-type {
  color: var(--hover-color);
}

.playPage .album-details .album-info #album-name {
  font-size: 3rem;
  font-weight: bold;
}

.playPage .album-details .album-info #album-artist {
  text-transform: capitalize;
}

.playPage .album-details .album-info .album-songs {
  color: var(--shadow-color);
  font-size: 0.9rem;
  padding: 1rem 0;
}

.playPage .album-details .album-info .album-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  -webkit-transition: 1s;
  transition: 1s;
}

.playPage .album-details .album-info .album-controls.show {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.playPage .album-details .album-info .album-controls .album-progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  border-radius: 2rem;
  background: var(--less-bright-color);
  padding-right: 1rem;
}

.playPage .album-details .album-info .album-controls .album-progress .progress-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  width: 0;
  overflow: hidden;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.playPage .album-details .album-info .album-controls .album-progress .progress-bar .volume-holder {
  position: relative;
}

.playPage .album-details .album-info .album-controls .album-progress .progress-bar .volume-holder #volume {
  padding: 0.3rem;
  background: transparent;
}

.playPage .album-details .album-info .album-controls .album-progress .progress-bar .volume-holder:hover #volume {
  background: var(--shadow-color);
}

.playPage .album-details .album-info .album-controls .album-progress .progress-bar .volume-holder:hover #volume-controll {
  opacity: 1;
  pointer-events: all;
}

.playPage .album-details .album-info .album-controls .album-progress .progress-bar .volume-holder #volume-controll {
  position: absolute;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  width: 5rem;
  height: 1rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  top: -2.85rem;
  left: -1.4rem;
  z-index: 10;
  background: var(--shadow-color);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  border-radius: 0 1rem 1rem 0;
  overflow: hidden;
  cursor: pointer;
}

.playPage .album-details .album-info .album-controls .album-progress .progress-bar .volume-holder #volume-controll::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 0.5rem;
  height: 1rem;
  background: var(--grey-color);
  outline: none;
  cursor: pointer;
}

.playPage .album-details .album-info .album-controls .album-progress .progress-bar .volume-holder #volume-controll::-moz-range-thumb {
  -moz-appearance: none;
       appearance: none;
  width: 0.5rem;
  height: 1rem;
  background: var(--grey-color);
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 0;
}

.playPage .album-details .album-info .album-controls .album-progress .progress-bar .volume-holder #volume-controll::-moz-range-progress {
  background: var(--shadow-color);
  height: 1rem;
}

.playPage .album-details .album-info .album-controls .album-progress .progress-bar.show {
  width: 16rem;
  overflow: visible;
}

.playPage .album-details .album-info .album-controls .album-progress .progress-bar #range-el {
  width: 10rem;
  height: 0.2rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  background: var(--shadow-color);
  border-radius: 0.3rem;
  cursor: pointer;
}

.playPage .album-details .album-info .album-controls .album-progress .progress-bar #range-el::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 1rem;
  height: 1rem;
  background: var(--hover-color);
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  border: none;
}

.playPage .album-details .album-info .album-controls .album-progress .progress-bar #range-el::-moz-range-thumb {
  -moz-appearance: none;
       appearance: none;
  width: 1rem;
  height: 1rem;
  background: var(--hover-color);
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  border: none;
}

.playPage .album-details .album-info .album-controls .album-progress .progress-bar #range-el::-moz-range-progress {
  height: 0.2rem;
  background: var(--hover-color);
}

.playPage .album-details .album-info .album-controls .album-progress .album-play {
  border-radius: 2rem;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.playPage .album-details .album-info .album-controls .album-progress .album-play #play-pause.active {
  color: var(--hover-color);
}

.playPage .album-details .album-info .album-controls .album-progress .album-play .material-icons:hover {
  background: transparent;
}

.playPage .album-details .album-info .album-controls .album-progress:hover {
  background: var(--more-bright-color);
}

.playPage .album-details .album-info .album-controls .material-icons.active {
  color: var(--hover-color);
}

.playPage .album-details .album-info .album-controls .material-icons:hover {
  background: var(--more-bright-color);
}

.playPage .songs {
  width: 100%;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.playPage .songs .song {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid var(--grey-color);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  padding: 1rem;
  position: relative;
}

.playPage .songs .song.active {
  color: var(--hover-color);
}

.playPage .songs .song .song-thumb-holder {
  width: 50px;
  height: 50px;
  border-radius: 0.2rem;
  overflow: hidden;
}

.playPage .songs .song .song-thumb-holder .song-thumb {
  width: 100%;
  height: 100%;
}

.playPage .songs .song .song-play {
  position: absolute;
  left: 4.65rem;
  top: 1.7rem;
  background: var(--less-dark-color);
  padding: 0.1rem;
  display: none;
}

.playPage .songs .song:hover {
  background: var(--less-bright-color);
}

.playPage .songs .song:hover .song-play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.playPage .songs .song:hover .song-play:hover {
  background: var(--more-dark-color);
}

.playPage .songs .song:hover .song-play:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.playPage .songs .song .left-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60vw;
  gap: 1rem;
  text-transform: capitalize;
}

.playPage .songs .song .left-items .song-index {
  width: 2rem;
}

.playPage .songs .song .left-items .song-name {
  width: 130px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
}

.playPage .songs .song .right-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.playPage .songs .song .right-items .song-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}

.playPage .songs .song .right-items .song-controls .material-icons {
  padding: 0;
}

.playPage .songs .song .right-items .song-controls .material-icons:hover {
  color: var(--hover-color);
}

.amazon-album {
  min-height: 90vh;
  padding-bottom: 5rem;
  position: relative;
}

.amazon-album .pagination {
  width: 100%;
  position: absolute;
  bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}

.amazon-album .pagination .pag-index {
  border: 2px solid var(--shadow-color);
  border-radius: 50%;
  font-weight: bold;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  line-height: 35px;
  width: 39px;
  height: 39px;
  text-align: center;
  cursor: pointer;
}

.amazon-album .pagination .pag-index.active {
  color: var(--active-color);
  border: 2px solid var(--active-color);
}

.amazon-album .pagination .pag-index:hover {
  color: var(--hover-color);
  border: 2px solid var(--hover-color);
}

.amazon-album .pagination .pag-btn {
  padding: 0 0.2rem;
  width: auto;
  border: 2px solid var(--active-color);
  background: var(--active-color);
}

.amazon-album .pagination .pag-btn:hover {
  background: var(--hover-color);
  color: var(--bright-color);
}

.amazon-album .pagination .pag-dots {
  width: auto;
  border: none;
  cursor: default;
}

.amazon-album .pagination .pag-dots:hover {
  color: var(--bright-color);
  border: none;
}

.amazon-album #parent-type {
  width: 100%;
  padding: 2rem 1rem;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

.amazon-album .album-wrapper {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  padding: 1rem;
  grid-gap: 1.5rem;
}

.amazon-album .album-wrapper .content {
  max-width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  position: relative;
}

.amazon-album .album-wrapper .content .head-content {
  position: relative;
  max-width: 400px;
  border-radius: 0.5rem;
  overflow: hidden;
  cursor: pointer;
}

.amazon-album .album-wrapper .content .head-content .content-img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
  border-radius: 0.5rem;
  position: relative;
  max-width: 400px;
  max-height: 400px;
}

.amazon-album .album-wrapper .content .head-content .content-img .artist-thumb {
  width: 100%;
  height: 100%;
}

.amazon-album .album-wrapper .content .head-content:hover::after {
  content: "";
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--less-dark-color);
}

.amazon-album .album-wrapper .content .head-content:hover .content-controls {
  opacity: 1;
}

.amazon-album .album-wrapper .content .head-content .content-controls {
  width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
  padding: 0.2rem;
  opacity: 0;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.amazon-album .album-wrapper .content .head-content .content-controls .material-icons {
  font-size: 2rem;
}

.amazon-album .album-wrapper .content .head-content .content-controls .material-icons:hover {
  background: var(--less-bright-color);
}

.amazon-album .album-wrapper .content .head-content .content-controls .material-icons:active {
  color: var(--hover-color);
}

.amazon-album .album-wrapper .content .head-content .content-controls .play {
  font-size: 4rem;
}

.amazon-album .album-wrapper .content .head-content .content-controls .play:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.amazon-album .album-wrapper .content .artist-song {
  width: 100%;
  font-size: 1rem;
  color: var(--bright-color);
  text-align: left;
  text-transform: capitalize;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-top: 0.5rem;
}

.amazon-album .album-wrapper .content .artist-song:hover {
  color: var(--hover-color);
  overflow: visible;
  white-space: normal;
  height: auto;
}

.amazon-album .album-wrapper .content .artist-name {
  width: 100%;
  font-size: 0.9rem;
  color: var(--shadow-color);
  text-align: left;
  text-transform: capitalize;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-top: 0.5rem;
}

.amazon-album .album-wrapper .content .artist-name:hover {
  color: var(--active-color);
  overflow: visible;
  white-space: normal;
  height: auto;
}

@media screen and (min-width: 576px) {
  .nav .left-nav .setting {
    left: 86%;
  }
  .nav .right-nav .search-options .sign-in-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav .right-nav .search-options .sign-in-icon {
    display: none;
  }
  .main .wrapper .category-header .category-name {
    font-size: 1.5rem;
  }
  .main .wrapper .contents-wrapper .contents {
    width: 400%;
  }
  .main .wrapper .contents-wrapper .top-songs {
    width: 380%;
  }
  .main .wrapper .contents-wrapper .top-songs .content .artist-feature .artist-name {
    width: auto;
  }
  .main .wrapper .contents-wrapper .top-songs .content .artist-feature .artist-song {
    width: auto;
  }
  .main .album-wrapper {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .playPage .album-details {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .playPage .album-details .album-thumb-holder {
    margin: 0;
  }
  .playPage .songs .song .left-items .song-name {
    width: auto;
  }
  .amazon-search-page .wrapper h3 {
    font-size: 2rem;
  }
  .amazon-album #parent-type {
    font-size: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .nav {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .nav .right-nav {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav .right-nav .nav-options .nav-option .nav-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main .wrapper .category-header .category-name {
    font-size: 2rem;
  }
  .main .wrapper .contents-wrapper .contents {
    width: 400%;
  }
  .main .wrapper .contents-wrapper .top-songs {
    width: 300%;
  }
}

@media screen and (min-width: 900px) {
  .nav .right-nav .search-options .search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-right: 1rem;
  }
  .nav .right-nav .search-options .search #search-el {
    width: 15rem;
  }
  .nav .right-nav .search-options #search-out {
    display: none;
  }
  .main .wrapper {
    padding: 2rem;
  }
  .main .wrapper .contents-wrapper .contents {
    width: 250%;
  }
  .main .wrapper .contents-wrapper .top-songs {
    width: 250%;
  }
  .main .album-wrapper {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .amazon-search-page .wrapper h3 {
    font-size: 2.5rem;
  }
  .amazon-album .album-wrapper {
    padding: 2rem;
  }
  .amazon-album #parent-type {
    font-size: 2.5rem;
    padding-left: 2rem;
  }
}

@media screen and (min-width: 1200px) {
  .nav .right-nav .search-options .search #search-el {
    width: 30rem;
  }
  .main .wrapper .contents-wrapper .contents {
    width: 250%;
  }
  .main .wrapper .contents-wrapper .top-songs {
    width: 200%;
  }
  .main .wrapper .music-types {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
}

html {
  -webkit-tap-highlight-color: transparent;
}

body {
  --dark-color: #000;
  --less-dark-color: rgba(0, 0, 0, 0.7);
  --more-dark-color: rgba(0, 0, 0, 0.85);
  --grey-color: #444;
  --bright-color: #fff;
  --less-bright-color: rgba(255, 255, 255, 0.2);
  --more-bright-color: rgba(255, 255, 255, 0.4);
  --shadow-color: #bebebe;
  --hover-color: #00abff;
  --active-color: #0085b0;
  --halloween-color: #f56f16;
  --sun-color: #fe9600;
  width: 100%;
  min-height: 100vh;
  background: var(--dark-color);
  color: var(--bright-color);
  font-family: "Roboto", sans-serif;
}

.overlay {
  position: fixed;
  z-index: 10;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}

.overlay.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  pointer-events: all;
}

body.halloween {
  --dark-color: #111;
  --grey-color: #444;
  --bright-color: #fff;
  --shadow-color: #bebebe;
  --hover-color: #f56f16;
  --active-color: #b14624;
}

body.day {
  --dark-color: #fff;
  --grey-color: #444;
  --less-dark-color: rgba(255, 255, 255, 0.7);
  --more-dark-color: rgba(255, 255, 255, 0.9);
  --bright-color: #000;
  --less-bright-color: rgba(0, 0, 0, 0.2);
  --shadow-color: #bebebe;
  --hover-color: #00abff;
  --active-color: #0085b0;
}

a {
  color: var(--bright-color);
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

button {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.material-icons {
  padding: 0.5rem;
  border-radius: 50%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px solid transparent;
  cursor: pointer;
}
